/* home page styling */
.banner-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/banner-image.jpg);
    height: 94vh;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position:relative;
    overflow: hidden;
    margin:0;
}
.banner-text {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.baby-row{
    display:flex;
    justify-content: space-between;
    border-bottom:solid 1px;
    padding: 1rem;
}
.baby-right{
    display:flex;
    flex-direction:row;
}

.sleep-row{
    display:flex;
    justify-content: space-between;
    border-bottom:solid 1px;
    padding: 1rem;
}
.sleep-right{
    display:flex;
    flex-direction:row;
}