{% extends 'shared/base.html' %}

{% block content%}

<div class='container'>
    <h1>Update {{baby.name}}'s info in our tracking software</h1>
    {% include 'forms/update-form.html' %}

    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Remove Baby</button>


<!--Modal information for delete button and confirmation-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Remove Baby?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to remove {{ baby.name}} and all it's associated sleeps? 
                    <br />
                    <br />
                    This cannot be undone!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form action='/baby/{{ baby.id }}/delete' method='delete'>
                        <button type=submit class='btn btn-danger'>Remove Baby</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}