{% extends 'shared/base.html' %}

{% block content%}

<div>
    Welcome back to the nursery, {{ user.first_name.title() }}

    {% if babies %}
    <br />
    If you have a new baby, you can add it here: <br />
    <button ><a href='{{ url_for("new_baby") }}'>add</a></button>
    
    
        {% for baby in babies %}

        <ul>
            <li>
                <p>Name: {{ baby.name }}</p>
            </li>
            <li>
                Birthday: {{ baby.birth_date.date() }}
            </li>

            <!-- <form action='sleep/{{baby.id}}' method='get'>
            <button type=submit>start sleep</button>
            </form> -->
            <form action="sleep/{{baby.id}}" method='get'>
                <button type="submit">show sleeps</button>
            </form>
            <!-- TODO - add confirmation on remove-->
            <form action='/baby/{{ baby.id }}' method='delete'>
                <button type=submit >remove baby</button>
            </form>
            <form action='/baby/{{ baby.id }}/update' method='put'>
                <button type=submit method='put'>update?</button>
            </form>
        </ul>
        {% endfor %}
    {% else %}
        <div>
            You dont have any babies.
            <button ><a href='{{ url_for("new_baby") }}'>add</a></button>
        </div>
    
    
    {% endif %}
</div>

{% endblock content %}