<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<link rel="stylesheet" href="../../static/styles.css">
<title>SleepyBeans</title>
<script src='../../static/index.js'></script>
</head>
<body>

    <nav class='navbar navbar-light bg-light'>
        <div class='container-fluid'>
            <a class='navbar-brand' href='{{ url_for("home") }}'>
                <img src='../../static/images/logo.png' width='60' height='30' class='d-inline-block align-top'>
            </a>
            <div class='nav'>
            {% if current_user.is_authenticated %}
                <a class='nav-link' href='{{ url_for("profile") }}'>Nursery</a>
                <a class='nav-link' href='{{ url_for("logout") }}'>Logout</a>
            {% else %}   
                <a class='nav-link' href='{{ url_for("login") }}'>Login</a>
                <a class='nav-link' href='{{ url_for("signup") }}'>Signup</a>
            {% endif %}
        </div>
    </nav>


    {% block content %}
    {% endblock content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.min.js"></script>
</body>
</html>